<%- include('../master/header') %>
<%- include('../master/navbar') %>

<div class="row bagian-a">
    <div class="col-md-5 justify-content-center ml-5">
        <div class="banner">
            <h5> Hai, Salam Sehat!</h5><br>
            <h3> Kontribusikan dirimu dalam upaya <br>mengeliminasi TB sekarang.</h3><br>
            <a type="button" class="btn btn-homeskrining" href="/skrining">Skrining Sekarang</a>
        </div>
        
    </div>
    <div class="col d-flex justify-content-center p-0">
        <img class="welcome-pict img-fluid" src="assets/images/welcome.png" alt="welcome picture">
    </div>
</div>

<div class="row bagian-b">
    <h3 class="h-bagian2"> TB di Indonesia</h3>
    <h5 class="text-center pb-4"> (Tahun 2021)</h5>
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-3 text-end justify-content-center">
                <h4>Indonesia menduduki peringkat ke-2 di dunia setelah India</h4>
            </div>
            <div class="col-icon">
                <div class="merah rounded-3 dua">
                    <p class="two">2</p>
                </div>
            </div>
            <div class="col-icon text-center">
                <div class="merah rounded-3">
                    <img class="icon" src="assets/images/virus.png" alt="virus">
                </div>
            </div>
            <div class="col-3">
                <h4>Estimasi jumlah kasus TB sebanyak 969.000 kasus. Sebanyak 525.765 kasus belum terdeteksi.</h4>
            </div>
        </div>
        <div class="row justify-content-center pt-4">
            <div class="col-3 text-end justify-content-center">
                <h4>53% TB diderita oleh laki-laki, 38% diderita oleh perempuan, dan 9% oleh anak-anak</h4>
            </div>
            <div class="col-icon">
                <div class="merah rounded-3 text-center">
                    <img class="icon" src="assets/images/male-and-female-signs.png" alt="malefemale">
                </div>
            </div>
            <div class="col-icon">
                <div class="merah rounded-3 pr-0 text-center">
                    <img class="icon" src="assets/images/skeleton.png" alt="skeleton">
                </div>
            </div>
            <div class="col-3">
                <h4 >Jumlah kematian akibat TB sebanyak 150.000 orang. Naik 60% dari tahun 2020.</h4>
            </div>
        </div>
    </div>
</div>

<div class="row bagian-c  justify-content-center"> 
    <h3 class="h-bagian2 pb-5"> Apa itu TB?</h3>
        <div class="col-md-auto d-flex justify-content-center p-0 m-5">
            <img class="paru-pict img-fluid" src="assets/images/paru.png" alt="welcome picture">
        </div>
        <div class="col-md-4 text-center justify-content-center p-0 m-5">
            <div class="desc text-center">
                <h4 class="deskripsi">Tuberkulosis (TBC) adalah suatu penyakit menular yang dapat menular melalui udara, disebabkan oleh bakteri Mycobacterium tuberculosis. Terdapat 2 macam TB yaitu TB paru dan TB luar paru.</h4>
            </div>
            
        </div>
    
</div>

<div class="row bagian-d d-flex justify-content-center"> 
    <h3 class="h-bagian2 pb-5"> Gejala Umum TB</h3>
            <div class=" col-4 gejala-desc d-flex rounded-3 m-5">
                <div class="deskripsi-gejala">
                    <ol>
                        <li>Batuk > 2 minggu </li>
                        <li>Batuk berdahak dapat bercampur darah</li>
                        <li>Dapat disertai nyeri dada</li>
                        <li>Sesak napas</li>
                        <li>Penurunan berat badan</li>
                        <li>Demam</li>
                    </ol>
                </div>
            </div>
        <div class="col-md-auto d-flex justify-content-center m-5">
            <img class="batuk-pict img-fluid w-75" src="assets/images/batuk.png" alt="batuk picture">
        </div>
</div>

<div class="row bagian-e "> 
    <h3 class="h-bagian2 pb-5"> Mengalami gejala-gejala tersebut? <br>
        Periksa dini gejalamu sekarang!</h3>
    <div class="text-center"><a type="button" class="btn btn-homeskrining2" href="/skrining">Skrining Sekarang</a></div>
    
    
</div>
<%- include('../master/footer') %>