<%- include('../../master/header') %>
<%- include('../../master/navbar') %>
<div class="top">
  <div class="container info-skrining p-5 my-5 shadow-sm">
      <div class="content mt-4 text-black rounded">
        <h1 class="text-white" id="judul-skrining">Salam sehat!</h1> 
        <h3 class="text-white" id="judul-skrining">Selamat datang di halaman skrining TB</h3> <br>
        <p>Skrining TB merupakan inovasi deteksi dini penyakit TB secara mandiri. Terdapat beberapa pertanyaan terkait gejala pada penyakit TB dengan pilihan jawaban sebagai berikut :</p> 
        <ol>
          <li>Tidak</li>
          <li>Kemungkinan kecil</li>
          <li>Mungkin</li>
          <li>Kemungkinan besar</li>
          <li>Hampir pasti</li>
          <li>Pasti</li>
        </ol>
        <p class="mb-5">Jawablah pertanyaan dengan salah satu dari pilihan diatas sesuai dengan kondisi yang dialami. Setelah semua pertanyaan terjawab, Anda akan menerima diagnosa dari 3 jenis TB yaitu TB paru, TB pleuritis dan TB limfadenitis. 
          <br><br>Perlu diingat bahwa skrining ini merupakan deteksi dini terhadap penyakit TB. Pengobatan dan diagnosa oleh dokter di rumah sakit atau tempat pelayanan kesehatan diperlukan guna penyembuhan penyakit.</p>
        <div class="center">
          <a type="button" class="btn btn-skrining center-block" href="/skrininguser">Mulai Skrining</a>
        </div>
      </div>
  </div>
</div>
<%- include('../../master/footer') %>